@import './utils/mixin';
@import './utils/vars';
@import './blocks/people';
@import './blocks/person';

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.container {
	width: 430px;
	margin: 0 auto;
	padding: 30px 0;

	@include on-desktop {
		width: 890px;
	}
}
