.person {
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	position: relative;

	width: fit-content;

	width: 200px;
	height: 287px;
	margin: 0;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.2);
		padding: 10px;
		z-index: 1;
		background-color: $person-background-hover;
		border-radius: 10px;
		&:hover .person__extra {
			opacity: 100;
			visibility: visible;
			position: static;
		}
		&:hover .person__photo img {
			border-radius: 60px;
		}
		&:hover .person__name {
			font-size: 24px;
		}
	}

	&__photo {
		width: 200px;
		height: auto;
		position: relative;

		img {
			width: 100%;
			height: auto;
			border-radius: 200px;
			transition: border-radius 1s ease;
		}
	}

	&__rank {
		position: absolute;
		top: 84px;
		right: 10px;
		background-color: $range-background-color;
		width: 32px;
		height: 32px;
		border-radius: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $range-text-color;
		font-size: 16px;
		font-weight: 700;
	}

	&__name {
		display: block;
		color: $person-name-text-color;
		font-size: 20px;
		font-weight: 700;
		transition: font-size 1s ease;
		text-align: center;
		margin: 8px 0;
	}

	&__extra {
		font-size: 18px;
		color: $extra-text-hover;
		text-align: center;
		opacity: 0;
		&::after {
			content: attr(data-pay) 'M';
		}

		&--sport {
			&::after {
				content: attr(data-sport) ',';
			}
		}

		&--pay {
			&::before {
				content: '  $';
			}
		}
	}
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
}
